/* Dashboard.css */
.main-container-dashboard {
  padding: 20px;
  background-color: lightsalmon;
  margin-top: 50px;
}

.left-box,
.right-box {
  padding: 20px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  margin-bottom: 20px;
}

.completed-task {
  text-decoration: line-through;
  color: #6c757d;
}

@media (max-width: 768px) {
  .left-box {
    margin-bottom: 20px;
  }
}

form {
  margin-bottom: 20px;
}
