.main-container-home {
  margin-top: 50px;
  background-color: #3f3b3b;
  padding: 20px;
  text-align: center;
  color: #333;
  border-radius: 15px;
}

.hero-section {
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: #ffffff;
  padding: 50px 20px;
  border-radius: 10px;
}

.hero-title {
  font-size: 3em;
  margin-bottom: 20px;
}

.hero-subtitle {
  font-size: 1.5em;
  margin-bottom: 30px;
}

.cta-button {
  font-size: 1.2em;
  padding: 10px 20px;
}

.about-section,
.features-section,
.cta-section {
  margin-top: 40px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.features-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.feature-item {
  flex: 1;
  min-width: 250px;
  margin: 20px;
}

.feature-item h3 {
  margin-top: 10px;
}

.cta-section .cta-button {
  margin-top: 20px;
}
